/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// Background color
$bg: 				#ffffff;

$bg-2:				#none;

// textformatting

$tf:				uppercase;

// text color
$tc:                #353535;

// base color
$bc:                #D82C7C;

$bc_2:              #70c567;

// footer color
$fc:                #f1f1f1;

$pi:                0px;

// Displayed or not
$fd:                block;

// placeholder text color
$ptc:               #646f79;

$border_color:      #ececec;

$border_radius:     8px;

$base_shadow:       0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$color_primary:         #D82C7C;
$color_primary_light:   #D82C7C;

$color_default:         #D82C7C;
$color_default_light:   #D82C7C;